/*background footer*/
.bg-slash{
	background-color:map-get($colores,local);
}

.redes{
	display: flex;
	flex-direction: column;
	align-items: center;
	.foot_redes{
		padding: 0px 5px;
	}
	.opacity{
		transition:all 0.3s ease;
		&:hover{
			opacity: 0.5;
		}
	}

}

