*{
	font-family: 'Montserrat', sans-serif;
	color: map-get($colores,blanco);
}

@mixin boton{
	text-decoration: none;
	color: white;
	border-color: 1px solid map-get($colores,oscuro);
	background-color: map-get($colores,local);
	margin-top:0.5rem;
	padding: 0.5rem;
	border-radius: 15px;
}
// mapa size
 $size:( 
 	uno:48px,
 	dos:40px,
 	tres:32px,
 	texto:18px,
	);


// clases font size
 @each $titulo,$px in $size{
 	.size-#{$titulo}{
 		font-size: $px;
 	}

 }

