<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Encontra el mejor combo para vos.">
	<meta name="keywords" content="argentina hamburguesa burger papas gaseosa comida cena almuerzo rico">
	<title>Menu / Burger Slash</title>
	<!-- LINK BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- LINK FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&family=Karla:wght@200&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<!-- ANIMACION -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- ICOM -->
	<link rel="icon" type="image/png" href="../assets/image/log.png">
	<!-- MI CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- Inicio header -->
	<div class="container-fluid">
		<header class="row">
			<nav class="navbar navbar-expand-lg  navbar-dark col-lg-12 bg-slash">
				<a class="navbar-brand" href="../index.html"><img src="../assets/image/logo1.png" alt="logo"></a>
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
			 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav nav ml-auto">
				      	<li class="nav-item">
				        	<a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="nosotros.html">NOSOTROS</a>
				      	</li>
				      	<li class="nav-item active">
				       	 <a class="nav-link" href="#">MENU</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="sucursal.html">SUCURSAL</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="contacto.html">LOGIN</a>
				      	</li>
			    	</ul>
			 		
				</div>
			</nav>
		</header>
	</div>
	<!-- Cierre header -->
	<!-- 	Main-->
	<main class="menu container-fluid">
		<div class="titulo_menu row titulo_height">
			<div class="titulo_color col-lg-12"  data-aos="flip-up">
				<h1 class="titulo-px">NUESTRAS<br>BURGERS</h1>
			</div>
		</div>
		<!-- burger -->
		<div class="menu_sub row">
			<div class="col-lg-12 d-flex justify-content-center ">
				<h2 class="size-dos">BURGERS</h2>
			</div>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Tripleque</h2>
					<img src="../assets/image/triplee.jpg" alt="Tripleque">
					<a type="button" class="boton">AGREGAR</a>
				</div>		
			</div>
			<div class="m-b col-lg-4 ">
				<div class="card d-flex flex-column align-items-center">
					<h2 >Fresca</h2>
					<img src="../assets/image/fresca.jpg" alt="fresca">
					<a type="button" class="boton">AGREGAR</a>
				</div>	
			</div>
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Burger Onion</h2>
					<img src="../assets/image/ce.jpg" alt="burger onion">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Crispita</h2>
					<img src="../assets/image/crispi.jpg" alt="crispita">
					<a type="button" class="boton">AGREGAR</a>
				</div>	
			</div>
			<div class="m-b col-lg-4 ">
				<div class="card d-flex flex-column align-items-center">
					<h2>Pica</h2>
					<img src="../assets/image/pica.jpg" alt="pica">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
			<div class="m-b col-lg-4 ">
				<div class="card d-flex flex-column align-items-center">
					<h2>0% Carne</h2>
					<img src="../assets/image/vegana.jpg" alt="pica">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
		</div>
		<!--snack -->
		<div class="menu_sub sub-2 row">
			<div class="col-lg-12 d-flex justify-content-center">
				<h2 class="size-dos">Snackes</h2>
			</div>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Papas Fritas</h2>
					<img src="../assets/image/papas.jpg" alt="Papas fritas">
					<a type="button" class="boton">AGREGAR</a>		
				</div>
			</div>
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>onions</h2>
					<img src="../assets/image/aros.jpg" alt="Aros de Cebolla">
					<a type="button" class="boton">AGREGAR</a>	
				</div>
			</div>
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Bastones</h2>
					<img src="../assets/image/bastones.jpg" alt="Bastones">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
		</div>
		<!-- bebida -->
		<div class="menu_sub sub-3 row">
			<div class="col-lg-12 d-flex justify-content-center">
				<h2 class="size-dos">Bebidas</h2>
			</div>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="m-b col">
				<div class="card d-flex flex-column align-items-center">
					<h2>Coca</h2>
					<img class="bebida" src="../assets/image/bebida/oca.jpg" alt="coca">
					<a type="button" class="boton">AGREGAR</a>	
				</div>	
			</div>
			<div class="m-b col">
				<div class="card d-flex flex-column align-items-center">
					<h2>Coca-zero</h2>
					<img  class="bebida" src="../assets/image/bebida/zero.jpg" alt="Coca-zero">
					<a type="button" class="boton">AGREGAR</a>	
				</div>		
			</div>
			<div class="m-b col">
				<div class="card d-flex flex-column align-items-center">
					<h2>Sprite</h2>
					<img class="bebida"  src="../assets/image/bebida/sprite.jpg" alt="Sprite">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Agua</h2>
					<img class="bebida"  src="../assets/image/bebida/aqua.jpg" alt="agua">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Bramah</h2>
					<img class="bebida"  src="../assets/image/bebida/brah.jpg" alt="Bramah">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
			<div class="m-b col-lg-4">
				<div class="card d-flex flex-column align-items-center">
					<h2>Quilmes</h2>
					<img class="bebida" src="../assets/image/bebida/quilmes.jpg" alt="quilmes">
					<a type="button" class="boton">AGREGAR</a>
				</div>
			</div>
		</div>
	</main>
	<!-- CIERRE MAIN -->
	<!-- Inicio footer --> 
	<footer class="container-fluid bg-slash">
		<div class="row py-2">
			<div class="col-lg-4">
				<a class="logo_disable" href="#"><img src="../assets/image/logo1.png" alt="logo"></a>
			</div>
			<div class="col-lg-4 col-6 redes justify-content-center">
				<p class="m-0">escribinos en:</p>
				<a href="mailto:burger@hotmil.com"><img class="opacity" src="https://icongr.am/feather/mail.svg?size=40&color=fffafa" alt="mail"></a>
			</div>
			<div class="col-lg-4 col-6 redes justify-content-center">
				<p class="m-0">seguinos en:</p>
				<div>
					<a href="https://www.instagram.com/" target="_blank"><img class="foot_redes opacity" src="https://icongr.am/simple/instagram.svg?size=40&color=eeeeee&colored=false" alt="instagram"></a>
					<a href="https://www.facebook.com/" target="_blank"><img class="foot_redes opacity" src="https://icongr.am/simple/facebook.svg?size=40&color=eeeeee&colored=false" alt="facebook"></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Cierre footer -->

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<!-- aos -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init({
	  	duration:700,
	  	once:true
	  });
	</script>
</body>
</html>

