<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Conocenos un poco mas...">
	<meta name="keywords" content="argentina hamburguesa burger papas gaseosa comida cena almuerzo rico">
	<title>Nosotros / Burger Slash</title>
	<!-- LINK BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- LINK FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&family=Karla:wght@200&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<!-- ICOM-->
	<link rel="icon" type="image/png" href="../assets/image/log.png">
	<!-- ANIMACION-->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- MI CSS -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- Inicio header -->
	<div class="container-fluid">
		<header class="row">
			<nav class="navbar navbar-expand-lg  navbar-dark col-lg-12 bg-slash">
				<a class="navbar-brand" href="../index.html"><img src="../assets/image/logo1.png" alt="logo"></a>
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
			 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav nav ml-auto ">
				      	<li class="nav-item">
				        	<a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
				      	</li>
				      	<li class="nav-item active">
				        	<a class="nav-link" href="#">NOSOTROS</a>
				      	</li>
				      	<li class="nav-item">
				       	 <a class="nav-link" href="menu.html">MENU</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="sucursal.html">SUCURSAL</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link" href="contacto.html">LOGIN</a>
				      	</li>
			    	</ul>
				</div>
			</nav>
		</header>
	</div>
	<!-- Cierre header -->

	<!-- inico de main -->
	<main class="bg-claro px-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12 px-0">
					<img class="w-100 " src="../assets/image/fondotrabajo.png" alt="fdNosotros">
				</div>
				<div class="col-lg-12 d-flex align-items-center">
					<h1 class="titulo_nosotros">conocenos</h1>
				</div>
			</div>
		</div> 
		<div class="container gap-row">
			<div class="row pd" data-aos="fade-up">
				<div class="col-lg-7 col-12 size-dos text-center">
					<h1 class="text-dark">Nosotros</h1>
					<p class="text size-texto text-dark">Somos una hamburguesería que se toma en serio las hamburguesas. Tanto el pan y la carne como cada uno de los ingredientes que usamos, fue pensado y diseñado para el rol que cumple en el producto final.  Nuestro objetivo principal es ofrecer un producto único y de alta calidad a un precio competitivo.</p>
		        </div>
				<!-- carousel -->
				<div class="col-lg-5 col-12">
					<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
			  			<div class="carousel-inner">
			    			<div class="carousel-item active" data-interval="1500">
			      				<img src="../assets/image/carrosel/juntos.png" class="d-block w-100" alt="juntos">
			    			</div>
			    			<div class="carousel-item" data-interval="2000">
			      				<img src="../assets/image/carrosel/butter.png" class="d-block w-100" alt="butter">
			    			</div>
			    			<div class="carousel-item" data-interval="2000">
			      				<img src="../assets/image/carrosel/pic.png" class="d-block w-100" alt="burger">
			    			</div>
			    			<div class="carousel-item" data-interval="2000">
			      				<img src="../assets/image/carrosel/pepino.png" class="d-block w-100" alt="pepino">
			    			</div>
			    			<div class="carousel-item" data-interval="2000">
			      				<img src="../assets/image/carrosel/pla.png" class="d-block w-100" alt="fresca">
			    			</div>
			    			<div class="carousel-item" data-interval="2000">
			      				<img src="../assets/image/carrosel/cebo.png" class="d-block w-100" alt="cebolla">
			    			</div>
			  			</div>
			  			<button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
			   				 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			   				 <span class="sr-only">Previous</span>
			 		 	</button>
			  			<button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
			    			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			    			<span class="sr-only">Next</span>
			  			</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-5 " data-aos="fade-up" data-aos-delay="600">
			<div class="row">
				<div class="col-lg-12 col-12 ">
					<iframe class="iframe" src="https://www.youtube.com/embed/hNlhAdiKodw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</main>
	<!-- cierre de main -->

	<!-- Inicio footer -->
	<footer class="container-fluid bg-slash">
		<div class="row py-2">
			<div class="col-lg-4">
				<a class="logo_disable" href="#"><img src="../assets/image/logo1.png" alt="logo"></a>
			</div>
			<div class="col-lg-4 col-6 redes justify-content-center">
				<p class="m-0">escribinos en:</p>
				<a href="mailto:burger@hotmil.com"><img class="opacity" src="https://icongr.am/feather/mail.svg?size=40&color=fffafa" alt="mail"></a>
			</div>
			<div class="col-lg-4 col-6 redes justify-content-center">
				<p class="m-0">seguinos en:</p>
				<div>
					<a href="https://www.instagram.com/" target="_blank"><img class="foot_redes opacity" src="https://icongr.am/simple/instagram.svg?size=40&color=eeeeee&colored=false" alt="instagram"></a>
					<a href="https://www.facebook.com/" target="_blank"><img class="foot_redes opacity" src="https://icongr.am/simple/facebook.svg?size=40&color=eeeeee&colored=false" alt="facebook"></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Cierre footer -->

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<!-- aos -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init({
	  	duration:500,
	  	delay:300,
	  	once:true
	  });
	</script>
</body>
</html>