/*fondos*/
.bg-oscuro{
	background-color: map-get($colores,oscuro);
}

.bg-claro{
	background-color: map-get($colores,blanco);
}


.text{
	text-align:justify ;
}


.login{
	height: 760px;
}
// fondo nosotros
.titulo_nosotros{
	background-image: url(../assets/image/fondotrabajo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}