/*fondos*/
.bg-oscuro{
	background-color: map-get($colores,oscuro);
}

.bg-claro{
	background-color: map-get($colores,blanco);
}

.text{
	text-align:justify ;
}


.login{
	height: 760px;
}
// fondo nosotros
.titulo_nosotros{
	background-image: url(../assets/image/fondotrabajo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
// boton inicio
.inicio{
	.boton{
		@include boton;
		transition: 0.3s all ease;
		&:hover{
			transform:scale(1.02);
			opacity: 0.7;
		}
	}
}
	